

body {
     display: flex;
    flex-direction: column;
    min-height: 100vh; /* Αυτό είναι το μυστικό: 100% του ύψους της οθόνης */
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
}

.container {
    flex: 1 0 auto;
    padding-top: 20px;

    margin-bottom: 0;
}
.main-footer {
    flex-shrink: 0;
    background-color: #f2f2f2;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    width: 100%;
}

.navbar-nav li a {
    color: white ;
    font-family: 'Segoe UI' Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;

    font-weight: bold;
}


.navbar-inverse {
    background-color: #000080;
    border-color: #FCA205;
    border-bottom: 4px solid #FCA205;
}

footer.container-fluid {
    flex-shrink: 0;
    background-color: #f2f2f2;
    padding: 5px;
    border-top: 1px solid #ddd;
    text-align: center;
    width: 100%
}

.btn-info {
    background-color: #FCA205 ;
    border-color: #d48a04;
    color: white;
}
.dropdown-menu a {
    color: black !important;
}
.dropdown-menu {
    background-color: darkseagreen !important;
}


.img-grow img{
  max-height: 280px;
  width: auto;
  transition: max-height 0.3s ease;
}

.img-grow:hover img{
  max-height: 390px;
}