
{% extends 'catalog/base.html' %}

{% block content %}


<div class="container-fluid">

    <div class="jumbotron text-center" style="background-color: #ffcc66; border: 8px solid #337ab7;">
        <h2><b>Λίστα Smartphones</b></h2>
    <p>Ανακαλύψτε τις κορυφαίες συσκευές της αγοράς</p>
    </div>


    <div class="row">
        {% for mobile in mobiles %}

            <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 style="text-align:center; font-weight: bold;" class="panel-title"><a href="{% url 'mobile_list' %}?brand={{ mobile.Manufacturer.id }}"  >
    {{ mobile.Manufacturer.name }}
</a></h3>
                </div>
          <div style="text-align: center;">
  {% if mobile.image %}
    <div class="img-grow">
      <img src="{{ mobile.image.url }}"
           class="img-responsive center-block"
           style="width: auto;">
    </div>
  {% endif %}
</div>
                <div class="panel-body text-center">
                    <h4>{{ mobile.name }}</h4>
                    <p class="text-muted"> Λειτουργικό Σύστημα: {{ mobile.OS.name }} - Μέγεθος οθόνης {{ mobile.screen_size }}" - Μνήμη {{ mobile.ram }}GB RAM</p>
                    <p style="text-align: center; color: #777; font-size: 0.9em;">
                     <span class="glyphicon glyphicon-calendar"></span>
                      Δημοσιεύτηκε: {{ mobile.published_date|date:"d/m/Y" }}
                    </p>

                </div>

                <div class="panel-footer text-center">
                    <p style="font-size: 1.2em;">{{ mobile.price }} €</p>
                    <a href="{% url 'mobile_detail' pk=mobile.pk %}" class="btn btn-info btn-sm">
                        Λεπτομέρειες
                    </a>
                </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

